<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>ANGULARJS</title>
        <script type="text/javascript" src="ng/angular.js"></script>
        <!-- **************************SCRIPT *****************-->
        <!-- **************************SCRIPT *****************-->

        <script>
            var ma = angular.module("app", []);
            ma.controller("ctrl", function ($scope) {
                $scope.res = function () {
                    $scope.fname = "";
                    $scope.email = "";
                    $scope.uid = "";
                }
                $scope.show = function () {
                    $scope.userid = $scope.uid;
                    $scope.username = $scope.fname;
                    $scope.usermail = $scope.email;
                }
            });
        </script>

        <!-- **************************SCRIPT *****************-->
        <!-- **************************SCRIPT *****************-->


    </head>
    <body>
        <div ng-controller="ctrl">
            <center>
                <h1>Employees Information</h1>
                <form name="studentForm" novalidate="">

                    <table>
                        <tr>
                            <td>Enter First Id</td>
                            <td>
                                <input type="text" name="uid" ng-model="uid" placeholder="Enter Id" ng-pattern="/^[0-9]{1,20}$/" required>
                                <span style="color: red;">
                                    <span ng-show="studentForm.uid.$error.pattern">Only Number Is Allowed</span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Enter First Name</td>
                            <td>
                                <input type="text" name="name" ng-model="fname" placeholder="Enter Name"  ng-pattern="/^[a-zA-Z ]{12,12}$/" required>
                                <span style="color: red;">
                                    <span ng-show="studentForm.name.$error.pattern">Minimum 12 Character</span>
                                </span>
                            </td>
                        </tr>

                        <tr>
                            <td>Enter First Email</td>
                            <td>
                                <input type="email" name="mail" ng-model="email" placeholder="Enter Email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,3}$/" required>
                                <span style="color: red;">
                                    <span ng-show="studentForm.mail.$error.pattern">Email Invalid</span>
                                    <span ng-show="studentForm.mail.$error.required">Email Required</span>
                                </span>
                            </td>
                        </tr>

                        <tr>
                            <td><input type="submit" ng-click="res()" value="CLEAR"></td>
                            <td><input type="submit" value="SUBMIT" ng-click="show()" ng-disabled="studentForm.name.$invalid || studentForm.mail.$invalid || studentForm.uid.$invalid"></td>
                        </tr>
                    </table>
                </form>
                <br/>
                <br/>
                <hr/>
                <h1>Given Information</h1>
                <table>
                    <tr>
                        <td>User Id </td>
                        <td> <span style="color: green"> : {{userid}}</span></td>
                    </tr>
                    <tr>
                        <td>User Name </td>
                        <td> <span style="color: green"> : {{username}}</span></td>
                    </tr>
                    <tr>
                        <td>User Email  </td>
                        <td><span style="color: green"> : {{usermail}}</span></td>
                    </tr>
                </table>
                <br/>
                <br/>

            </center>
        </div>
        <input type="radio" name="rd1" ng-model="hideBox1"> Show The Box1
        <input type="radio" name="rd1" ng-model="hideBox1"> Show The Box2
        <br/>
        <hr/>
    <center ng-show="hideBox1">
        <h1>Employees Information BOX 1</h1>
        <form name="studentForm" novalidate="">

            <table>
                <tr>
                    <td>Enter First Id</td>
                    <td>
                        <input type="text" name="uid" ng-model="uid" placeholder="Enter Id" ng-pattern="/^[0-9]{1,20}$/" required>
                        <span style="color: red;">
                            <span ng-show="studentForm.uid.$error.pattern">Only Number Is Allowed</span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Enter First Name</td>
                    <td>
                        <input type="text" name="name" ng-model="fname" placeholder="Enter Name"  ng-pattern="/^[a-zA-Z ]{12,12}$/" required>
                        <span style="color: red;">
                            <span ng-show="studentForm.name.$error.pattern">Minimum 12 Character</span>
                        </span>
                    </td>
                </tr>

                <tr>
                    <td>Enter First Email</td>
                    <td>
                        <input type="email" name="mail" ng-model="email" placeholder="Enter Email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,3}$/" required>
                        <span style="color: red;">
                            <span ng-show="studentForm.mail.$error.pattern">Email Invalid</span>
                            <span ng-show="studentForm.mail.$error.required">Email Required</span>
                        </span>
                    </td>
                </tr>

                <tr>
                    <td><input type="submit" ng-click="res()" value="CLEAR"></td>
                    <td><input type="submit" value="SUBMIT" ng-click="show()" ng-disabled="studentForm.name.$invalid || studentForm.mail.$invalid || studentForm.uid.$invalid"></td>
                </tr>
            </table>
        </form>
    </center>
    
    
    <center ng-show="hideBox1">
        <h1>Students Information BOX 2</h1>
        <form name="studentForm" novalidate="">

            <table>
                <tr>
                    <td>Enter First Id</td>
                    <td>
                        <input type="text" name="uid" ng-model="uid" placeholder="Enter Id" ng-pattern="/^[0-9]{1,20}$/" required>
                        <span style="color: red;">
                            <span ng-show="studentForm.uid.$error.pattern">Only Number Is Allowed</span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Enter First Name</td>
                    <td>
                        <input type="text" name="name" ng-model="fname" placeholder="Enter Name"  ng-pattern="/^[a-zA-Z ]{12,12}$/" required>
                        <span style="color: red;">
                            <span ng-show="studentForm.name.$error.pattern">Minimum 12 Character</span>
                        </span>
                    </td>
                </tr>

                <tr>
                    <td>Enter First Email</td>
                    <td>
                        <input type="email" name="mail" ng-model="email" placeholder="Enter Email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,3}$/" required>
                        <span style="color: red;">
                            <span ng-show="studentForm.mail.$error.pattern">Email Invalid</span>
                            <span ng-show="studentForm.mail.$error.required">Email Required</span>
                        </span>
                    </td>
                </tr>

                <tr>
                    <td><input type="submit" ng-click="res()" value="CLEAR"></td>
                    <td><input type="submit" value="SUBMIT" ng-click="show()" ng-disabled="studentForm.name.$invalid || studentForm.mail.$invalid || studentForm.uid.$invalid"></td>
                </tr>
            </table>
        </form>
    </center>
</body>
</html>