<!DOCTYPE html>
<html>
    <head>
        <title>ANGULARJS</title>
        <script type="text/javascript" src="ng/angular.js"></script>
    </head>
    <body>
        <script>
            var ma = angular.module("app", []);
            ma.controller("ctrl", function ($scope) {
                
            });
        </script>
    <center>
        <div ng-app="app">
            <div ng-controller="ctrl" ng-init="product = [
                    {id: 1, name: 'SOAP', price: 100},
                    {id: 2, name: 'MILK', price: 200},
                    {id: 3, name: 'SALT', price: 300},
                ];">
                <select ng-model="drop">
                    <option value="">Choose One</option>
                    <option ng-repeat="n in product" value="{{n.name}}">{{n.name}}</option>
                </select>
                
                <h3>You Have Selected {{drop}}</h3>
            </div>
                  </div>
                </center>


          
            </body>
            </html>